In [29]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
wheel_data = pd.read_csv('../data/wheeldata.csv')
wheel_data.describe()

# top has the most recent date
# most puzzles are unique but some are the same

              Puzzle Category     Date
count           1440     1440     1440
unique          1432       23     1440
top     OUT OF FOCUS   Phrase  3/27/25
freq               2      385        1

Because the number of unique puzzles does not match the count of puzzles, and we are looking for the optimal combination of consonants and vowels, we could remove the duplicate puzzle entries or weight them by frequency. I decided to remove duplicate entries because we are measuring data based on the puzzles themselves, and these duplicates would distort viewing the best combination as a whole.

In [ ]:
# we are using 2 data sets
word_data = pd.read_csv('../data/unigram_freq.csv')
word_data.describe()

              count
count  3.333330e+05
mean   1.764374e+06
std    6.629987e+07
min    1.271100e+04
25%    2.122400e+04
50%    4.151900e+04
75%    1.365760e+05
max    2.313585e+10

In [47]:
word_data.head()

  word        count
0  the  23135851162
1   of  13151942776
2  and  12997637966
3   to  12136980858
4    a   9081174698

In [ ]:
print(len(word_data))

word_data_drop = word_data.drop_duplicates()
word_data_drop.describe()

333333

              count
count  3.333330e+05
mean   1.764374e+06
std    6.629987e+07
min    1.271100e+04
25%    2.122400e+04
50%    4.151900e+04
75%    1.365760e+05
max    2.313585e+10

The original data set has no duplicates, because the length of the set before and after removal is the same. To reduce what we have to analyze, and for computational symplicity, we can limit the number of words to the top 10000.

In [ ]:
word_data_used =  word_data.head(10000)

In [58]:
wheel_data.head()

               Puzzle             Category     Date
0   TIDY UP THE HOUSE               Phrase  9/12/16
1     WHIMSICAL RHYME                Thing  9/13/16
2         PIANO MUSIC                Thing  9/14/16
3  CARPOOLING TO WORK  What Are You Doing?  9/15/16
4          ACTIVEWEAR                Thing  9/16/16

In [32]:
wheel_data.shape

(1440, 3)

The shape for this data set appears good, as it matches the number of entries and columns in the data file.

In [33]:
wheel_data.info

<bound method DataFrame.info of                    Puzzle             Category     Date
0       TIDY UP THE HOUSE               Phrase  9/12/16
1         WHIMSICAL RHYME                Thing  9/13/16
2             PIANO MUSIC                Thing  9/14/16
3      CARPOOLING TO WORK  What Are You Doing?  9/15/16
4              ACTIVEWEAR                Thing  9/16/16
...                   ...                  ...      ...
1435       QUILTED FABRIC                Thing  4/14/25
1436    BEING QUITE WITTY  What Are You Doing?  4/15/25
1437    MEMORIZING A POEM  What Are You Doing?  4/16/25
1438          JUICY PEACH     Food &amp; Drink  4/17/25
1439  ACTIVATING MY PHONE  What Are You Doing?  4/18/25

[1440 rows x 3 columns]>

In [ ]:
wheel_data_nodup = wheel_data.drop_duplicates(subset=['Puzzle'])
wheel_data_nodup.describe()

                     Puzzle Category     Date
count                  1432     1432     1432
unique                 1432       23     1432
top     ACTIVATING MY PHONE   Phrase  4/18/25
freq                      1      381        1

The duplicates are removed from the data set, this is what we shall use from now on.